.customers {
  @include centeredFlex(flex);
  @include list(null, wrap, null, null, null, null, -15px);

  &__item {
    @include item(null, null, null, null, 15px, $deskq, $gapitem);

    // mobile
    @media screen and (max-width: 768px) {
      @include item(null, null, null, null, 15px, $tabq, $gapitem);
    }

    // tablet
    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
      @include item(null, null, null, null, 15px, $customTabq, $gapitem);
    }
  }

  &__icon {
    width: 106px;
    height: 60px;
    fill: currentColor;
  }
}

.customers__link {
  @include centeredFlex(flex);

  height: 92px;

  text-decoration: none;
  color: $greyIconColor;
  border: 1px solid $greyIconColor;
  border-radius: 4px;

  @include transition(color, border-color);

  &:hover,
  &:focus {
    color: $hoverColor;
    border-color: $hoverColor;
  }

  // desktop
  @media screen and (min-width: $desktop) {
    width: 170px;
  }
}
