.feature {
  @include list(flex, wrap, null, null, null, null, -15px);
}

.feature__item {
  // mobile
  @media screen and (min-width: 320px) {
    @include item(null, null, null, null, 15px, $mobq, $gapitem);
  }
  // tablet
  @media screen and (min-width: $tablet) {
    @include item(null, null, null, null, 15px, $tabq, $gapitem);
  }
  // desktop
  @media screen and (min-width: $desktop) {
    @include item(null, null, null, null, 15px, 4, $gapitem);
  }
}

.feature__title {
  @include font(14px, 700, 16px, 0.03em, null, center);
  margin-bottom: 10px;
  text-transform: uppercase;

  // desktop
  @media screen and (min-width: $desktop) {
    @include font(14px, null, 16px, null, null);
  }
}

.feature__subtitle {
  @include font(14px, 400, 24px, 0.03em, $lightGreyColor, left);
  margin-bottom: 0;
  margin-top: 0;
}

.feature__wrapp-icon {
  @include centeredFlex(flex);
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;

  background-color: $bgColorFeature;
}
