.hero {
  background-color: $heroBgColor;
  text-align: center;

  // mobile and tablet
  @media screen and (max-width: $desktop) {
    padding-top: 118px;
    padding-bottom: 118px;
  }

  // desktop
  @media screen and (min-width: $desktop) {
    max-width: 100%;
    height: 600px;
    width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin: 0 auto;
  }
}

.hero__title {
  text-transform: uppercase;

  // mobile and tablet
  @media screen and (max-width: $desktop) {
    @include font(26px, 900, 42px, 0.06em, $secondTextColor, center);
    max-width: 100%;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  // desktop
  @media screen and (min-width: $desktop) {
    @include font(44px, null, 44px, 0.06em, $secondTextColor, center);
    max-width: 100%;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
}

// до этого 576px это мобильное устройство
// 577 - 768 таблет
