.hero {
  background-color: $heroBgColor;
  text-align: center;

  @media screen and (max-width: $tablet) {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

.hero__title {
  text-transform: uppercase;

  @media screen and (max-width: $tablet) {
    @include font(26px, 900, 42px, 0.06em, $secondTextColor, center);
    max-width: 100%;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
}
// до этого 576px это мобильное устройство
// 577 - 768 таблет
