.logo {
  @include centeredFlex(flex);

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: $logoHeaderColor;

  &__accent {
    color: $logoCurrentColor;
  }
}

.page-footer__logo {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  color: $logoFooterColor;
}
