.logo {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: $logoHeaderColor;

  &__accent {
    color: $logoCurrentColor;
  }

  @media screen and (max-width: $tablet) {
    padding-top: 16px;
    padding-bottom: 16px;
    @include font(24px, 700, 28px, 0.03em, null);
  }
}
