.ourteam {
  &--bg-grey {
    background-color: $ourteamBgColor;
  }
}

.team-card {
  // tablet
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    @include list(flex, wrap, null, null, null, null, -15px);
  }

  // desktop
  @media screen and (min-width: $desktop) {
    @include centeredFlex(flex);
  }

  &__content {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__name {
    margin-bottom: 10px;
    @include font(16px, 500, 19px, 0.03em, null, center);
  }
}

.team-card__item {
  // tablet
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    @include item(null, null, null, null, 15px, $tabq, $gapitem);
  }
  // mobile
  @media screen and (max-width: 767px) {
    &:not(:nth-child(4)) {
      margin-bottom: 30px;
    }
  }
  // desktop
  @media screen and (min-width: $desktop) {
    width: 270px;
    &:not(:nth-child(4)) {
      margin-right: 30px;
    }
  }

  background: $secondTextColor;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card__post {
  margin-top: 0;
  margin-bottom: 16px;
  @include font(16px, null, 19px, 0.03em, $lightGreyColor, center);
}

.social-team-icon {
  text-align: center;
}

.social-team-icon__item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social-team-icon__svg {
  text-align: center;
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-team-icon__link {
  @include centeredFlex(flex);
  text-decoration: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: $greyIconColor;

  @include transitionNew(color, background-color, null, $function-cubic, 250ms);

  &:hover,
  &:focus {
    color: $secondTextColor;
    background-color: $hoverColor;
  }
}
