.page-header {
  border-bottom: 1px solid $pageHeaderBottomLine;
}

.header_container {
  display: flex;
  align-items: center;
  position: relative;

  // mobile
  @media screen and (max-width: 767.98px) {
    justify-content: space-between;
  }
  // tablet
  @media screen and (min-width: $tablet) {
    @include centeredFlex(flex);
    justify-content: space-between;
  }
}

.header-nav__list {
  display: flex;
  margin-left: 88px;
}

.header-nav {
  @media screen and (max-width: 767.98px) {
    display: none;
  }
}

.header-contacts {
  // mobile
  @media screen and (max-width: 767.98px) {
    display: none;
  }

  // desktop
  @media screen and (min-width: $desktop) {
    &__item {
      &:not(:last-child) {
        margin-right: 50px;
      }
    }
  }
}

.header-nav__link {
  position: relative;
  display: block;
  padding: 32px 0;

  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $primaryTextColor;

  @include transitionNew(color, null, null, $function-cubic, 250ms);

  &:hover,
  &:focus,
  &--current {
    color: $hoverColor;
  }

  &--current::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 4px;

    background-color: $hoverColor;
    border-radius: 2px;
  }
}

.header-nav__item {
  &:not(:first-child) {
    margin-left: 50px;
  }
}

.header-contacts {
  margin-left: auto;

  // desktop
  @media screen and (min-width: $desktop) {
    @include centeredFlex(inline-flex);
  }
}

.header-contacts__link {
  @include centeredFlex(inline-flex);

  color: $lightGreyColor;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.02em;
  text-decoration: none;

  @include transitionNew(color, null, null, $function-cubic, 250ms);

  &:hover,
  &:focus {
    color: $hoverColor;
  }

  // tablet
  @media screen and (max-width: 1199.98px) {
    &--top-padding {
      padding-top: 16px;
    }
    &--bottom-padding {
      padding-bottom: 16px;
    }
  }

  // desktop
  @media screen and (min-width: $desktop) {
    font-size: 14px;
    padding: 32px 0;
  }
}

.header-contacts__item {
  @media screen and (max-width: 1199.98px) {
    &--margin-bottom {
      margin-bottom: 8px;
    }
  }
}

.header-contacts__icon {
  margin-right: 8px;
  fill: currentColor;
}
