.portfolio-list {
  @include list(flex, wrap, null, null, null, null, -15px);

  &__item {
    @media screen and (max-width: $tablet) {
      @include item(null, null, null, null, 15px, $mobq, $gapitem);
    }

    @media screen and (min-width: $tablet) {
      @include item(null, null, null, null, 15px, $tabq, $gapitem);
    }

    //  margin-right: 30px;
    //  margin-bottom: 30px;

    //  &:nth-child(3n) {
    //    margin-right: 0;
    //  }
    //  &:nth-last-child(-n + 3) {
    //    margin-bottom: 0;
    //  }
  }
}

.portfolio-list__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: $primaryTextColor;
}

.portfolio-list__subtitle {
  margin-top: 4px;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: $lightGreyColor;
}

.portfolio-list__link {
  display: block;
  text-decoration: none;

  transition: filter 250ms $function-cubic;

  &:hover,
  &:focus {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

.portfolio-list__wrap-text {
  padding: 20px 24px;

  background: $secondTextColor;
  border: 1px solid $borderPortfolio;
  border-top: none;
}
