.filters {
  margin-bottom: 50px;

  @media screen and (min-width: $tablet) {
    @include centeredFlex(flex);
    .filters__item:not(:first-child) {
      margin-left: 8px;
    }
  }

  &__item {
    display: inline-block;
    @media screen and (max-width: 767px) {
      @include item(8px, 15px, null, null, null, 2, $gapitem);
    }
  }

  &__button {
    @include font(16px, 500, 26px, 0.03em, $primaryTextColor, null);

    padding: 6px 22px;
    border-radius: 4px;
    border-style: none;

    @include transitionNew(color, background-color, box-shadow, $function-cubic, 250ms);

    cursor: pointer;

    &--current {
      background-color: $hoverColor;
      color: $secondTextColor;
    }

    &:hover,
    &:focus {
      color: $secondTextColor;
      background-color: $hoverColor;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
}
