// colors

$primaryTextColor: #212121;
$secondTextColor: #ffffff;
$hoverColor: #2196f3;
$primaryBtnColor: #188ce8;
$lightGreyColor: #757575;
$heroBgColor: #2f303a;
$ourteamBgColor: #f5f4fa;
$greyIconColor: #afb1b8;
$bgColorFeature: #f5f4fa; // задает серый фон на иконках
$backdropBgColor: rgba(0, 0, 0, 0.2);
$closeBorderModal: rgba(0, 0, 0, 0.1);
$modalFormBorder: rgba(33, 33, 33, 0.2);
$lightGreyColorFooter: rgba(255, 255, 255, 0.6);
$darkGreyColor: rgba(255, 255, 255, 0.1);
$overlayBgColor: rgba(33, 150, 243, 0.9);
$borderPortfolio: #eeeeee;
$pageHeaderBottomLine: #ececec;

// logo colors
$logoHeaderColor: #212121;
$logoFooterColor: #ffffff;
$logoCurrentColor: #2196f3;

//options

$deskq: 6;
$mobq: 2;
$tabq: 3;
$gapitem: 30px;

//cubic-bezier

$function-cubic: cubic-bezier(0.4, 0, 0.2, 1);
